
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/53a8c415f1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./main.css">
</head>
<body>
        <form id="signup-form" action="{% url 'main:keyword' %}" method="post" >
    <div class="wrap">
        <div class="login">
            <h2>Change Your Password</h2>
            
            <div class="login_id">
                <h4>ID</h4>
                <input name="username" type="text">
                <br>
            </div>
            <div class="login_pw">
                <h4>New Password</h4>
                 <input name="password1" type="password">
                <br>
            </div>
            <div class="login_pw_check">
                <h4>New Password Check</h4>
             <input name="password2" type="password">
                <br></div>
           
            <div class="submit">
                <input type="submit" value="Sign Up" />
            </div>
        </div>
    </div>
    </form>
</body>
</html>
{% endblock %}