</head>

 <head>
    <title>community</title>
    <script language="javascript">
               
           
    function getMenu(event) {
    document.getElementById('result').innerText = 
    event.target.value;}

              
                 
    </script>
    <link rel="stylesheet" href="css/style.css">
    </head>

    <header id="header">
        <h1 id="logo"><a href="index.html">Mate.</a></h1>
        <nav id="nav">
            <ul>
            <li><a href="recommand.html">사용자 추천</a></li>
            <li><a href="#">Community</a>
                <ul>
                <li><a href="collecttaste.html">collect your taste</a></li>
                <li><a href="sharetaste.html">share your taste</a></li>
                <ul>
                    <li><a href="#">Option 1</a></li>
                    <li><a href="#">Option 2</a></li>
                </ul>
            </ul>
            </li>
        </li>
  
      <li><span style=cursor:pointer" onclick="openNav()">My page</span></a></li>
      </ul>
  </nav>
</header>

<body>
 <link rel="stylesheet" href="mypagecss.css">
 
 <nav>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  
   <a href="checkID.html">Change ID</a>
  <a href="checkPWD.html">Change PWD</a>
  <a href="#">내가 쓴 글</a>
  <a href="#">좋아요한 글</a>
  <a href="#">Logout</a>
</div>

</nav>

<!-- partial -->
  <script  src="./script.js"></script>
  </div>

</body>
</html>


