{% block content %}
<div class="container my-3">
    <form method="post" class="post-form" action="{% url 'main:login' %}">
        
        {% csrf_token %} 

        <div class="form-group">
            <label for="nickname">name</label>
            <input type="text" class="form-control" name="nickname" id="nickname"
                   value="{{ form.nickname.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="email">email</label>
            <input type="email" class="form-control" name="email" id="email"
                   value="{{ form.email.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="password">비밀번호</label>
            <input type="password" class="form-control" name="password" id="password"
                   value="{{ form.password.value|default_if_none:'' }}">
        </div>
        <div class="row mt-5">
            <div class="col-12">
                {{error}}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">로그인</button>
        <button type="button" class="btn btn-secondary" onclick="location.href='/main/signup'">
        SignUp</button>
        
        <div class="row">
            <div class="col-4">
            </div>
            <div class="col-8 text-right">
            </div>
        </div>
    </form>
</div>
{% endblock %}