* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

.slide_wrapper {
  position: relative;
  width: 1660px;
  margin: 0 auto;
  height: 300px;
  overflow: hidden;
}

.slides {
  position: absolute;
  left: 0;
  top: 0;
  transition: left 1s ease-out;
}

.slides li:not(:last-child) {
  float: left;
  margin-right: 30px;
}

.controls {
  text-align: center;
  margin-top: 100px;
}
.controls span {
  background: #333;
  color: #fff;
  padding: 10px 20px;
  margin: 0 10px;
}

.mvslide_wrapper {
  position: relative;
  width: 1660px;
  margin: 0 auto;
  height: 300px;
  overflow: hidden;
}

.mvslides {
  position: absolute;
  left: 0;
  top: 0;
  transition: left 1s ease-out;
}

.mvslides li:not(:last-child) {
  float: left;
  margin-right: 30px;
}

.mvcontrols {
  text-align: center;
  margin-top: 100px;
}
.mvcontrols span {
  background: #333;
  color: #fff;
  padding: 10px 20px;
  margin: 0 10px;
}